{% extends 'base.html.twig' %}

{% block title %}Edit Annoucement{% endblock %}

{% block body %}
    <h1>Edit Annoucement</h1>

    {{ include('annoucement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_annoucement_index') }}">back to list</a>

    {{ include('annoucement/_delete_form.html.twig') }}
{% endblock %}
